@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav>* {
  /* background-color: red; */
  color: green;
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem
      /* 32px */
      * var(--tw-space-x-reverse));
  margin-left: calc(2rem
      /* 32px */
      * calc(1 - var(--tw-space-x-reverse)));
  border: 1px solid gray;
  padding: 7px;
  border-radius: 7px;
  padding-left: 1em;
  padding-right: 1em;
}

.ngtBG {
  background-image: url('https://cdn.pixabay.com/photo/2022/03/01/02/51/galaxy-7040416_640.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}